/*fonts*/
/* Sohne */
@font-face {
  font-family: Söhne-Buch;
  src: url("/cdn/fc/assets/style-manager/fonts/a3360b91-f92a-4e51-a375-62505c2c94f6.otf") format("opentype");
}

/* Sohne-Halbfet */
@font-face {
  font-family: Söhne-Halbfett;
  src: url("/cdn/fc/assets/style-manager/fonts/5376650c-ec13-4835-90ab-816e94e1d908.otf") format("opentype");
}


/* Globals */

h2.text {
  font-size: 18px;
}

div.box.container {
  border: 0.25px solid #FFF;
  border-radius: 12px;
}

button.button {
  background: #10A37F;
  border-radius: 10px;
}

div.alert.box {
  background: transparent;
  margin-top: 4%;
  padding: 0px;
}

/* Home */
div.home.box.screen {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin-bottom: -7px;
}

.home img.logo {
  transform: scale(1.5);
  margin-left: 5px;
  margin-top: 20px;
}

.home h2.heading.text {
  text-align: left;
  justify-content: left;
  font-size: 22px;
  margin-top: 24px;
  margin-bottom: 8px;
}

.home p.text {
  text-align: left;
  color: #565869;
  margin-top: 0px;
  margin-bottom: 24px;
}

.home button.button {
  margin-top: 16px;
}


/* Navigation */

.navigation button {
  fill: #9A9BA5;
}

.navigation button svg path {
  fill: #9A9BA5;
}

.navigation p.text {
  color: #9A9BA5;
}

.navigation p.watermark.text {
  margin: 16px;
}



/* Progress bar */
div.progress-section-container {
  border: #D7D7DB;
  background: #D7D7DB;
}

div.progress-section-fill {
  background: #10A37F;
}

.progress div.progress-section-container:last-child {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.progress div.progress-section-container:first-child {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}


.progress div.progress-section-fill {
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}

/* Victory */
div.victory.box.screen {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.victory path {
  fill: #10A37F;
}

.victory svg {
  margin-top: -10%;
}

.victory h2.heading.text {
  text-align: left;
  justify-content: left;
}

.victory p.text {
  text-align: left;
  color: #565869;
}


/* Match game */

h2.match-game-alert.text {
  color: #F00;
}

.match-game-fail p.text {
  font-style: normal;
  font-weight: 400;
  margin-top: 8px;
  margin-bottom: 8px;
}

.match-game-fail button.button {
  margin-top: 0px;
}

.match-game-fail button.button {
  margin-top: 0px;
}

.match-game div.box.challenge-container {
  margin-top: 8px;
}

div.match-game-fail.box.screen {
  margin-bottom: -10px;
}

/* Audio game */

button.play-button {
  border-color: #9A9BA5;
  color: #9A9BA5;
}

.audio-game button.play-button svg path {
  fill: #9A9BA5;
}

.audio-game p.text {
  margin-bottom: 10px;
}

h2.audio-game-alert.text {
  color: #F00;
}

.audio-game h2.heading.text {
  margin-bottom: 4px;
}

.audio-game button.glylew.button {
  margin-top: 0px;
}


/* Tile game */

h2.tile-game-alert.text {
  color: #F00;
}

.tile-game-fail p.text {
  font-style: normal;
  font-weight: 400;
}

/* Session ID*/
.home p.embeddedSessionID {
  padding-top: 8px;
  padding-left: 94px;
  padding-right: 94px;
}

.match-game p.embeddedSessionID {
  margin-top: 4px;

}

.tile-game p.embeddedSessionID {
  margin-top: 8px;

}

.audio-game p.embeddedSessionID {
  margin-top: 8px;
}

div.navigation.box {
  margin-bottom: 4px;
}



@media (orientation: landscape) {
  div.box.container {
    height: 450px !important;
  }
}